.modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;

    &.is-active {
        display: flex;
    }

    // затемнение фона
    &__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    // кнопка закрытия
    &__close {
        position: absolute;
        top: 24px;
        right: 24px;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        z-index: 2;

        svg {
            fill: #9e9e9e;
            transition: fill 0.2s;
        }

        &:hover svg {
            fill: #000;
        }
    }

    // окно модалки
    &__window {
        position: relative;
        z-index: 1;
        width: 100%;
        width: 719px;
        padding: 60px;
        background: #fff;
        border-radius: 12px;
        text-align: left;
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
    }

    // иконка
    &__icon {
        margin-bottom: 16px;
    }

    // заголовок
    &__title {
        margin: 0 0 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: $color-black;
    }

    // текст
    &__text {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $color-black;
    }

    /* ---------- SUCCESS ---------- */
    &--success {
        .modal__icon {
            fill: #4caf50;
        }
    }

    /* ---------- ERROR ---------- */
    &--error {
        .modal__icon {
            fill: #f44336;
        }
    }
}